.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);    
  display: flex;
  align-items: center;
  justify-content: center;
}

.modals {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 25em;
}

.modals .form-btn{
  display: block;
  margin: auto;
  margin-top: 35px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group input {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
}

.form-group label {
  margin-bottom: 0.2rem;
} 

select {
border: 1px solid black;
border-radius: 0.3rem;
padding: 0.3rem;
font-size: 1rem;
}
